<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIquimia</title>
    {% load static %} <!-- Cargar archivos estáticos -->
    <!-- Biblioteca SweetAlert para alert personalizado -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script> 
    <script src="{% static 'alquimia.js' %}" defer></script> <!-- JavaScript-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'imagenes/favicon.ico' %}"> <!-- Favicon -->
    <link rel="stylesheet" href="{% static 'alquimia.css' %}"> <!-- CSS -->
    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="bodyAlquimia">
    <!-- Este div se utiliza para guardar el elemento creado después de procesar el formulario -->
    <div id="nuevoElemento" style="display: none;">{{ nuevoElemento }}</div>
    <div id="descripcion" style="display: none;">{{ descripcion }}</div>
    <div id="descubiertoPor" style="display: none;">{{ descubiertoPor }}</div>
    <!-- Recorremos la lista top de views.py y añadimos sus valores -->
    <div id="puntuacion" style="display: none;">
        <div>
            {% for usuario, descubrimientos in top %}
                {{ usuario }}: {{ descubrimientos }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="contenedorAlquimia">
	<!-- Zona para combinar los elementos -->
        <div class="izquierda">
            <div class="superior">
                <div class="vacio contenedor"></div>
                <div class="math">+</div>
                <div class="vacio contenedor"></div>
            </div>
	    <!-- Formulario que envía los elementos a combinar -->
            <form id="formCombinar" action="" method="post">{% csrf_token %}
                <input type="hidden" name="elementoId[]" id="hidden1">
                <input type="hidden" name="elementoId[]" id="hidden2">
                <button type="button" onclick="combinar()">Combine</button>
                <button type="button" onclick="despejar()" id="limpiar"><i class="bi bi-trash"></i></button>
            </form>
        </div>
        <!-- Zona que contiene los elementos del usuario -->
        <div class="derecha">
            <div id="buscar">
                <input type="text" id="busqueda" placeholder="Search an element by name">
            </div>
            <div class="contenedorElementos contenedor">
                <!-- Bucle que muestra todos los elementos de la base de datos -->
		{% for elemento in listaElementos %}
                <div id="{{ elemento.id }}" class="elemento" style="background-image: url(../static/imagenes/elementos/{{elemento.imagen}})" draggable="true">{{ elemento.nombre }}</div>
                {% endfor %}            
            </div>
        </div>
    </div>
    <!-- Barra de navegación inferior -->
    <div class="nav">
        <div id="botones">
            <!-- Si no ponía un formulario para enviarlo mediante POST, me daba un error al cerrar sesión-->
            <button class="inicio" onclick="window.location.href='/'">Return <i class="bi bi-house"></i></button>
            <button onclick="puntuacion()">Leaderboard <i class="bi bi-trophy"></i></button>
            <form action="/logout/" method="post">
                {% csrf_token %}
                <button type="submit">Log out <i class="bi bi-x-square"></i></button>
            </form>
        </div>
        <p class="pLogin"><i class="bi bi-person-circle"></i> You are currently logged in as <span style="color: red">{{ user.username }}<span></p>
    </div>
    

    {% if error %}
        <div id="error" style="display: none;">
            {{ error }}
        </div>
    {% endif %}

</body>

</html>
