<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <title>AIquimia - Challenge mode: {{ nombreElementoAleatorio }}</title>
    {% load static %} <!-- Cargar archivos estáticos -->
    <!-- Biblioteca SweetAlert para alert personalizado -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
    <script src="{% static 'alquimia.js' %}" defer></script> <!-- JavaScript-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'imagenes/favicon.ico' %}"> <!-- Favicon -->
    <link rel="stylesheet" href="{% static 'alquimia.css' %}"> <!-- CSS principal -->
    <link rel="stylesheet" href="{% static 'responsive.css' %}"> <!-- CSS responsive -->
    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="bodyAlquimia">
    <!-- Estos divs se utilizan para guardar datos después de procesar el formulario -->
    <div id="nuevoElemento" style="display: none;">{{ nuevoElemento }}</div>
    <div id="descripcion" style="display: none;">{{ descripcion }}</div>
    <div id="descubiertoPor" style="display: none;">{{ descubiertoPor }}</div>
    <div id="imagenSwal" style="display: none;">{{ imagen }}</div>
    <div id="usuario" style="display: none;">{{ usuario }}</div>
    <div id="tutorial" style="display: none;">{{ tutorial }}</div>
    <div id="victoria" style="display: none;">{{ victoria }}</div>
    <!-- Recorremos la lista top de views.py y añadimos sus valores -->
    <div id="puntuacion" style="display: none;">
        <div>
            {% for usuario in top %}
                {{ usuario.nombre }}: {{ usuario.victorias }}<br>
            {% endfor %}
        </div>
    </div>
    <div class="contenedorAlquimia">
        <div class="izquierda">
            <div class="zonaCombinar">
                <div class="contenedorDesafio">
                    <div class="contenedorDesafio2">
                        <div>Your goal is to create the element {{ nombreElementoAleatorio }}</div>
                        <div>You have failed to do so {{ contador }} times so far</div>
                    </div>
                    <div><img class="imagenRandom" src="../static/imagenes/elementos/{{ imagenElementoAleatorio }}"></div>
                </div>
                <div class="superior">
                    <div class="vacio contenedor"></div>
                    <div class="math">+</div>
                    <div class="vacio contenedor"></div>
                </div>
                <form id="formCombinar" action="" method="post">{% csrf_token %}
                    <input type="hidden" name="elementoId[]" id="hidden1">
                    <input type="hidden" name="elementoId[]" id="hidden2">
                    <button type="button" onclick="combinar()">Combine</button>
                    <button type="button" onclick="despejar()" id="limpiar"><i class="bi bi-trash"></i></button>
                </form>
            </div>
        </div>
        <div class="derecha">
            <div id="buscar">
                <input type="text" id="busqueda" placeholder="Search an element by name">
            </div>
            <div class="contenedorElementos contenedor">
                {% for elemento in listaElementos %}
                    <div id="{{ elemento.id }}" class="elemento {% if elemento.descubiertoPor == request.user.username %}descubrimiento{% endif %}" style="background-image: url(../static/imagenes/elementos/{{elemento.imagen}})" draggable="true">{{ elemento.nombre }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Barra de navegación inferior -->
    <div class="nav">
        <div id="botones">
            <!-- Si no ponía un formulario para enviarlo mediante POST, me daba un error al cerrar sesión-->
            <button class="inicio destello" onclick="window.location.href='/'">Return <i class="bi bi-house"></i></button>
            <button onclick="mostrarTutorial()"><i class="bi bi-question-circle"></i></button>
            <button onclick="window.location.href='/alquimia'">Challenge mode <i class="bi bi-toggle-on"></i></button>
            <button onclick="puntuacion()" class="marcador">Leaderboard <i class="bi bi-trophy"></i></button>
            <form action="/logout/" method="post">
                {% csrf_token %}
                <button type="submit">Log out <i class="bi bi-x-square"></i></button>
            </form>
        </div>
    </div>


    {% if error %}
        <div id="error" style="display: none;">
            {{ error }}
        </div>
    {% endif %}
    
</body>

</html>
